<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "goalie" %></h1>
  <p>Set your goals, be your own bully!</p>
</section>

<section class="row">
<article>
<div>
  Login <%= link "sign up!", to: "/users/new" %>
</article>
</section>
